<div class="row">
    <div class="col-6">
        <div class="card card-statistics">
          <div class="card-body">

            <div class="clearfix">
              <div class="float-left">
                <i class="fa fa-money-bill-alt text-success icon-lg"></i>
              </div>
              <div class="float-right">
                <p class="mb-0 text-right">Ingresos</p>
                <div class="fluid-container">
                  <h3 class="font-weight-medium text-right mb-0">$65,650</h3>
                </div>
              </div>
            </div>
            <p class="text-muted mt-3 mb-0">
              <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
            </p>
          </div>
        </div>
      </div>

      <div class="col-6">
          <div class="card card-statistics">
            <div class="card-body">
  
              <div class="clearfix">
                <div class="float-left">
                  <i class="fa fa-shipping-fast text-danger icon-lg"></i>
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Ingresos</p>
                  <div class="fluid-container">
                    <h3 class="font-weight-medium text-right mb-0">$65,650</h3>
                  </div>
                </div>
              </div>
              <p class="text-muted mt-3 mb-0">
                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> 65% lower growth
              </p>
            </div>
          </div>
        </div>
</div>